node-red_flows/dashboard_flow.json
[
    {
        "id": "ce71cc8003d80d26",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eda33d7e0445f50d",
        "type": "inject",
        "z": "ce71cc8003d80d26",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "35547af71ad747c6"
            ]
        ]
    },
    {
        "id": "621e381c84dfef53",
        "type": "sqlite",
        "z": "ce71cc8003d80d26",
        "mydb": "ba2febef91171611",
        "sqlquery": "prepared",
        "sql": "SELECT\n    device_id,\n    ruido_dbfs,\n    timestamp\nFROM leituras_sono\nWHERE device_id = ?\nORDER BY timestamp ASC;",
        "name": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "e93917257d64c5a9"
            ]
        ]
    },
    {
        "id": "35547af71ad747c6",
        "type": "function",
        "z": "ce71cc8003d80d26",
        "name": "function 1",
        "func": "msg.params = [\"sleep_01\"];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 100,
        "wires": [
            [
                "621e381c84dfef53"
            ]
        ]
    },
    {
        "id": "62c7a9920e405d19",
        "type": "ui_chart",
        "z": "ce71cc8003d80d26",
        "name": "",
        "group": "667f988010b068fd",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "ruido",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e93917257d64c5a9",
        "type": "function",
        "z": "ce71cc8003d80d26",
        "name": "function 5",
        "func": "msg.payload.forEach(row => {\n    node.send({\n        payload: row.ruido_dbfs,\n        timestamp: row.timestamp * 1000\n    });\n});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "62c7a9920e405d19"
            ]
        ]
    },
    {
        "id": "e93d98b0179ec710",
        "type": "inject",
        "z": "ce71cc8003d80d26",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "dd0e58556b210975"
            ]
        ]
    },
    {
        "id": "dd0e58556b210975",
        "type": "function",
        "z": "ce71cc8003d80d26",
        "name": "function 6",
        "func": "msg.params = [\"sleep_01\"];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "cfce5fef74539fe8"
            ]
        ]
    },
    {
        "id": "5669e6b70b23cee2",
        "type": "ui_chart",
        "z": "ce71cc8003d80d26",
        "name": "",
        "group": "667f988010b068fd",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "01311ffaaa4dfb9b",
        "type": "function",
        "z": "ce71cc8003d80d26",
        "name": "function 7",
        "func": "msg.payload.forEach(row => {\n    node.send({\n        payload: row.temperatura,\n        timestamp: row.timestamp * 1000\n    });\n});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 480,
        "wires": [
            [
                "5669e6b70b23cee2"
            ]
        ]
    },
    {
        "id": "5a65c1dee08eda1d",
        "type": "inject",
        "z": "ce71cc8003d80d26",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "fadeeb4b9b1901e1"
            ]
        ]
    },
    {
        "id": "fadeeb4b9b1901e1",
        "type": "function",
        "z": "ce71cc8003d80d26",
        "name": "function 8",
        "func": "msg.params = [\"sleep_01\"];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 540,
        "wires": [
            [
                "361c3d64494cc54f"
            ]
        ]
    },
    {
        "id": "309aa310355795bb",
        "type": "ui_chart",
        "z": "ce71cc8003d80d26",
        "name": "",
        "group": "667f988010b068fd",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ebd1245e9fd1866d",
        "type": "function",
        "z": "ce71cc8003d80d26",
        "name": "function 9",
        "func": "msg.payload.forEach(row => {\n    node.send({\n        payload: row.umidade,\n        timestamp: row.timestamp * 1000\n    });\n});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "309aa310355795bb"
            ]
        ]
    },
    {
        "id": "cfce5fef74539fe8",
        "type": "sqlite",
        "z": "ce71cc8003d80d26",
        "mydb": "f61f37f6b13c0fde",
        "sqlquery": "prepared",
        "sql": "SELECT\n    device_id,\n    temperatura,\n    timestamp\nFROM leituras_sono\nWHERE device_id = ?\nORDER BY timestamp ASC;",
        "name": "",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "01311ffaaa4dfb9b"
            ]
        ]
    },
    {
        "id": "361c3d64494cc54f",
        "type": "sqlite",
        "z": "ce71cc8003d80d26",
        "mydb": "32b808c842aada0b",
        "sqlquery": "prepared",
        "sql": "SELECT\n    device_id,\n    umidade,\n    timestamp\nFROM leituras_sono\nWHERE device_id = ?\nORDER BY timestamp ASC;",
        "name": "",
        "x": 430,
        "y": 620,
        "wires": [
            [
                "ebd1245e9fd1866d"
            ]
        ]
    },
    {
        "id": "ba2febef91171611",
        "type": "sqlitedb",
        "db": "data\\sono.db",
        "mode": "RWC"
    },
    {
        "id": "667f988010b068fd",
        "type": "ui_group",
        "name": "Default",
        "tab": "e042f27ee12bf05d",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f61f37f6b13c0fde",
        "type": "sqlitedb",
        "db": "data/sono.db",
        "mode": "RWC"
    },
    {
        "id": "32b808c842aada0b",
        "type": "sqlitedb",
        "db": "data/sono.db",
        "mode": "RWC"
    },
    {
        "id": "e042f27ee12bf05d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2ceebd310c9b563e",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-sqlite": "1.1.1",
            "node-red-dashboard": "3.6.6"
        }
    }
]