node-red_flows/DBWirite_flow.json
[
    {
        "id": "a1461334c6d4462e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d6776d1f4860d51",
        "type": "http in",
        "z": "a1461334c6d4462e",
        "name": "",
        "url": "/sono",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "c5589dfc84079d62"
            ]
        ]
    },
    {
        "id": "f00cdb0b1731dfb8",
        "type": "sqlite",
        "z": "a1461334c6d4462e",
        "mydb": "",
        "sqlquery": "msg.topic",
        "sql": "INSERT INTO leituras_sono (device_id, ruido_dbfs, timestamp)\nVALUES (?, ?, ?);",
        "name": "",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "56db067d27366a5f"
            ]
        ]
    },
    {
        "id": "58566263ecfbb835",
        "type": "http response",
        "z": "a1461334c6d4462e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 330,
        "y": 320,
        "wires": []
    },
    {
        "id": "c5589dfc84079d62",
        "type": "function",
        "z": "a1461334c6d4462e",
        "name": "function 2",
        "func": "// Nó: Preparar SQL\n\nconst device_id = msg.payload.device_id;\nconst ruido_dbfs = msg.payload.ruido_dbfs;\nconst temperatura = msg.payload.temperatura;\nconst umidade = msg.payload.umidade;\nconst received_timestamp = msg.payload.timestamp; \n\n// Verificação de segurança: Se os dados estiverem chegando, esta checagem não deve parar o fluxo.\nif (device_id === undefined || ruido_dbfs === undefined || received_timestamp === undefined\n    || temperatura === undefined || umidade === undefined) {\n    node.warn(\"Um ou mais campos (device_id, ruido_dbfs, timestamp) estão faltando no payload. Abortando inserção.\");\n    return null; \n}\n\n// 1. Comando SQL (msg.topic)\n// Confirme que o nome da tabela e das colunas estão corretos: leituras_sono.device_id\nmsg.topic = \"INSERT INTO leituras_sono (device_id, ruido_dbfs, temperatura, umidade, timestamp) VALUES ('\"+device_id+\"',\"+ruido_dbfs+\", \"+temperatura+\", \"+umidade+\", \"+received_timestamp+\")\";\n\n// 2. Valores para inserção (msg.payload)\n// ESTA ORDEM É CRÍTICA! Deve corresponder aos '?' e à ordem das colunas acima.\nmsg.payload = [device_id, ruido_dbfs, temperatura, umidade, received_timestamp];\n\n// 3. Dados para resposta final\nmsg.dados_armazenados = {\n    device_id: device_id,\n    ruido_dbfs: ruido_dbfs,\n    temperatura: temperatura,\n    umidade: umidade,\n    timestamp: received_timestamp \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 240,
        "wires": [
            [
                "f00cdb0b1731dfb8",
                "3688a6467eed4ac5"
            ]
        ]
    },
    {
        "id": "56db067d27366a5f",
        "type": "function",
        "z": "a1461334c6d4462e",
        "name": "function 3",
        "func": "// O payload do nó SQLite agora é algo como { changes: 1, lastID: 5 }\nconst sql_response = msg.payload;\n\n// Os dados originais que você armazenou estão em msg.dados_armazenados\nconst dados_armazenados = msg.dados_armazenados;\n\n// Prepare o objeto de resposta para o cliente\nmsg.payload = {\n    status: \"sucesso\",\n    mensagem: \"Dados do sensor armazenados com sucesso.\",\n    id_inserido: sql_response.lastID, // O ID da linha inserida\n    dados_recebidos: dados_armazenados\n};\n\n// Define o código de status HTTP (201 Created é uma boa prática para inserções)\nmsg.statusCode = 201;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 320,
        "wires": [
            [
                "58566263ecfbb835"
            ]
        ]
    },
    {
        "id": "3688a6467eed4ac5",
        "type": "debug",
        "z": "a1461334c6d4462e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "08a5ccb7b9fd09cd",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-sqlite": "1.1.1"
        }
    }
]